[Unit]
Description=etcd2
Conflicts=etcd.service

[Service]
#User=etcd
Type=notify
Environment=ETCD_DATA_DIR=/var/lib/etcd2
Environment=ETCD_NAME=%m
ExecStart=/opt/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0
EnvironmentFile=/etc/etcd2.env

[Install]
WantedBy=multi-user.target
